@import '../../common/variables';

$light-primary-text: white;
$dark-primary-text: $fontColour;

$custom-primary: (
  50: lighten($primaryColour, 35),
  100: lighten($primaryColour, 30),
  200: lighten($primaryColour, 20),
  300: lighten($primaryColour, 10),
  400: $primaryColour,
  500: darken($primaryColour, 10),
  600: darken($primaryColour, 20),
  700: darken($primaryColour, 30),
  800: darken($primaryColour, 40),
  900: darken($primaryColour, 50),
  A100: lighten($primaryColour, 30),
  A200: $primaryColour,
  A400: darken($primaryColour, 15),
  A700: darken($primaryColour, 30),
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$custom-accent: (
  50: lighten($accentColour, 80),
  100: lighten($accentColour, 70),
  200: lighten($accentColour, 60),
  300: lighten($accentColour, 50),
  400: lighten($accentColour, 40),
  500: lighten($accentColour, 30),
  600: lighten($accentColour, 20),
  700: lighten($accentColour, 10),
  800: $accentColour,
  900: darken($accentColour, 10),
  A100: lighten($accentColour, 30),
  A200: $accentColour,
  A400: darken($accentColour, 15),
  A700: darken($accentColour, 30),
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);